* {
    margin: 0;
    padding: 0;
    font-size: small;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    width: 100vw;
    height: 120vh;
    display: flex;
    align-items: center; 
    background-color: #141414;
    flex-direction: column; 
}

.icon img {
    width: 200px;
    height: 70px;
    margin-top: 30px;
    margin-right: 1250px;
}


h1{
    padding: 30px 0 20px 0;
    font-size: 38px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}

.account{
    margin-top: 15px;
    text-align: center;
    margin-bottom: 70px;
    border: 1px solid rgba(74, 74, 74, 0.815);
    padding: 16px 25px 12px 18px ;
    border-radius: 10px;
    width: 400px;
    height: 60px;
    font-weight: 400;
    color: #c0c0c0;
}

.account a{

    margin-left: 3px;
    font-weight: 400;
}
.nav-bar{

    display: flex;
    list-style-type: none;
    gap: 20px;
    width: 100%;
    height: 12%;
    background-color: #000000;

}

.nav-bar img{

    margin-left: 20px;
    margin-top: 16px;
    width: 190px;
    height: 45px;

}
.textfield{
    margin: 20px;
    width: 274px;
    height: 56px;
    border-radius: 16px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    color: #FFFFFF;
    margin-left: 105px;
}

.textfield a{
    padding-left: 114px;
    font-weight: 400;
    color: #FFFFFF;
}

form{
    background-color: #090909;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(70, 70, 70, 0.815);
    border-radius: 8px;
    width: 500px;
    height: 420px;

}

.textfield input{
    background-color: rgb(28, 28, 28);
    border: 1px solid rgba(131, 131, 131, 0.815);
    width: 274px;
    height: 32px;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: -30px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    
}

.textfield label{
    width: 274px;
    height: 16px;
    font-weight: 400;
    color: black;
    margin-top: -25px;
    color: #FFFFFF;
 
}

.btn{
    border: 1px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  background-color: #000000;
  width: 240px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  margin-top: 40px;
  margin-left: 123px;
  text-decoration: none;
 
}

.btn a {

    text-decoration: none;

}

.btn:hover{
    background-color: #4b4b4be8;
}

a{

    color: #FFFFFF;

}


.listfooter{

    color: #c0c0c0;
    margin-top: 50px;
    font-size: 10px;
    font-weight: 100;

}

.listfooter a{

    color: #c0c0c0;

}