@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

nav {
  background-color: black;
  width: 100vw;
  height: 180px;
  display: flex;
  align-items: center;
}

nav img {
  margin-left: 160px;
  width: 370px;
  height: 120px;
}

.search-wapper {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  width: 417px;
  height: 60px;
  margin-top: 20px;
  margin-left: 200px;
  border: none;
  background-color: #000000;


}

.input-wrapper {
  padding: 8px 22px;
  display: flex;
  align-items: center;
  gap: 26px;
  background-color: #f3f3f3;
  border-radius: 16px;
}

.input-wrapper i {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.input-wrapper input {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  width: 320px;
}

.input-wrapper input:focus-visible {
  outline: none;
}

.btn-one {
  font-family: 'Shadows Into Light', cursive;
  font-size: 28px;
  color: #FFF;
  transition: all 0.3s;
  position: relative;
  margin-left: 200px;
  cursor: pointer;
}

.btn-one span {
  transition: all 0.3s;
}

.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 1);
}

.btn-one:hover span {
  letter-spacing: 2px;
}

.btn-one:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(0, 0, 0, 0.1);
}

.btn-one:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.top {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 40px;
  margin-right: 160px;

}

.artista {
  display: flex;
  flex-direction: column;

}

.artista img {
  width: 250px;
  height: 250px;
}

.matue {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.artista h2 {
  color: #646464;
  font-weight: 500;
  font-size: 20px;
}

.historia {
  border: 2px solid rgb(37, 37, 37);
  height: 276px;
  background-color: #c0c0c0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historia p {
  width: 470px;
  height: 66px;
  text-align: justify;
  text-indent: 30px;
  margin-top: 40px;

}

.albuns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.maquina img {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  margin: 6px;
  cursor: pointer;
}

.maquina img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.albuns img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  margin-top: 20px;
}

.albuns h2 {
  font-weight: 600;
}

.albuns h3 {
  color: #646464;
  font-weight: 400;
}

.musicas {
  padding-bottom: 800px;
}