@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

nav {
  background-color: black;
  width: 100vw;
  height: 180px;
  display: flex;
  align-items: center;
}

nav img {
  margin-left: 160px;
  width: 370px;
  height: 120px;
}

.search-wapper {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  width: 417px;
  height: 60px;
  margin-top: 20px;
  margin-left: 200px;
  border: none;
  background-color: #000000;


}

.input-wrapper {
  padding: 8px 22px;
  display: flex;
  align-items: center;
  gap: 26px;
  background-color: #f3f3f3;
  border-radius: 16px;
}

.input-wrapper i {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.input-wrapper input {
  background-color: transparent;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  width: 320px;
}

.input-wrapper input:focus-visible {
  outline: none;
}

.btn{
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  background-color: #000000;
  width: 90px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  margin-left: 140px;
}

.btn a{
  text-decoration: none;
  color: white;
}

.btn:hover{
  background-color: rgb(105, 105, 105);
  color: black
}

.top {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  

}

.artista {
  display: flex;
  flex-direction: column;

}

.artista img {
  width: 250px;
  height: 250px;
}

.matue {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.artista h2 {
  color: #646464;
  font-weight: 500;
  font-size: 20px;
}

.albuns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 160px;
}

.maquina img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  margin-top: 20px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  margin: 6px;
  cursor: pointer;
}

.maquina img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.albuns h2 {
  font-weight: 600;
}

.albuns h3 {
  color: #646464;
  font-weight: 400;
}

.tocadas h2{
  cursor: pointer;
}

.tocadas a{
  text-decoration: none;
  color: #646464;
}

.tocadas a:visited{
  text-decoration: none;
}

.info{
  border: 1px solid #646464;
  width: 270px;
  margin-right: 50px;
}

.info h1{
  border: 2px solid #646464;
  font-size: 20px;
  text-align: center;
  background-color: #646464;
  color: #f3f3f3;
}

.info h2{
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

.historia {
  border: 2px solid rgb(37, 37, 37);
  height: 600px;
  width: 1500px;
  background-color: #c0c0c0;
  padding-left: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 200px;
  border-radius: 20px;
}

.historia p {
  width: 1350px;
  height: 90px;
  text-align: justify;
  text-indent: 30px;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.musicas {
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.musicas a{
  text-decoration: none;
  color: black;
}

a:visited{
  text-decoration: none;
}

.musicas h1{
  margin-left: 50px;
  padding-top: 30px;
}

ul{
  width: 550px;
  margin-left: 40px;
  list-style-type: decimal;
  text-indent: 2px;
}

.musicas h2{
  margin-top: 30px;
  color: #9c9c9c;
}

li{
  margin-top: 15px;
  cursor: pointer;
}

footer {
  background-color: rgb(24, 24, 24);
  height: 90px;

}

footer .bi {
  margin-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
}

.sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: serif;
  color: rgb(232, 232, 232);
  padding-top: 30px;
  margin-bottom: 30px;
}

.sobre h3 {
  padding-left: 15px;
  padding-right: 15px;
  font-size: 14px;
}

.end {
  font-family: serif;
  text-align: center;
  align-items: center;
  width: 1857px;
  height: 30px;
  font-size: 11px;
  color: rgb(229, 229, 229);
  background-color: black;
  font-family: 12px;
  margin-top: 30px;
}