@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: black;
    width: 100vw;
    height: 180px;
    display: flex;
    align-items: center;
}

nav img{
    margin-left: 160px;
    width: 370px;
    height: 120px;
}

.search-wapper{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search {
    width: 417px;
    height: 60px;
    margin-top: 20px;
    margin-left: 200px;
    border: none;
    background-color: #000000;
    
  
}

.input-wrapper{
    padding: 8px 22px;
    display: flex;
    align-items: center;
    gap: 26px;
    background-color: #f3f3f3;
    border-radius: 16px;
}

.input-wrapper i{
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.input-wrapper input{
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    width: 320px;
}

.input-wrapper input:focus-visible{
    outline: none;
}

.btn{
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  cursor: pointer;
  background-color: #000000;
  width: 90px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  margin-left: 140px;
}

.btn a{
  text-decoration: none;
  color: white;
}

.btn:hover{
  background-color: rgb(105, 105, 105);
  color: black
}

  .artista{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
  }

  .artista img{
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
  }

  .artista h2{
    font-size: 26px;
    color: #919191;
  }

  .musica{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1800px;
  }

  .letra{
    width: 435px;
    height: 1800px;
    text-align: start;
    padding-top: 20px;
  }

  .paragrafo{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
  }

  footer {
    background-color: rgb(24, 24, 24);
    height: 90px;
  
  }
  
  footer .bi {
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
  }
  
  .sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    color: rgb(232, 232, 232);
    padding-top: 30px;
    margin-bottom: 30px;
  }
  
  .sobre h3 {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
  }
  
  .end {
    font-family: serif;
    text-align: center;
    align-items: center;
    width: 1500px;
    height: 30px;
    font-size: 11px;
    color: rgb(229, 229, 229);
    background-color: black;
    font-family: 12px;
    margin-top: 30px;
  }